input, textarea, select {
  background: none;
  color: black;
  border: 1px solid black;
  padding: 0.3em;
  margin: 0.5em 0;
}

input, textarea, select {
  width: 100%;
}

input:not([type="submit"]) {
  min-width: 15em;
}

textarea {
  resize: vertical;
}

.centered-form {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.blocky-form-items > * {
  display: block;
}

.anchor-btn {
  border: none !important;
  color: black;
  display: inline-block;
  margin-left: 1em;
}

.anchor-btn:hover {
  cursor: pointer;
}
